@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    /* font-family: 'M PLUS 1p', sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    /* animation: rainbow 6s infinite; */
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h1 {
    text-decoration: underline;
    font-size: 3em;
    margin: 0;
}

.logo {
    display: block;
    margin: 50px auto;
}

.image {
    display: block;
    margin: 50px auto;
}

.banner {
    display: block;
    margin: 50px auto;
    width: 100%;
}

.questions {
    margin-bottom: 50px;
}

li::marker {
    color: rgb(150, 150, 150);
}

#home {
    height: 100vh;
    text-align: center;
}

#home-inside {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#text-box {
    width: 100%;
    background-color: #050505;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#texte {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.incredible:hover {
    animation: rainbow_text 3s infinite;
}

.link {
    color: #e7dd4f;
}

.link:hover {
    color: #45a0dd;
}

.quote {
    font-style: italic;
}

.invisible,
.ultra_invisible {
    /* animation: rainbow_text 6s infinite; */
    color: #000000;
}

.ultra_invisible::selection {
    color: #000000;
}

.highlighted {
    background-color: #0000005b;
    border-spacing: 10px;
    border-radius: 5px;
}

@keyframes rainbow {
    100%,
    0% {
        background-color: #ff15ff;
    }
    33.3% {
        background-color: #ffff15;
    }
    66.6% {
        background-color: #15ffff;
    }
}

@keyframes rainbow_text {
    100%,
    0% {
        color: #ff15ff;
    }
    33.3% {
        color: #ffff15;
    }
    66.6% {
        color: #15ffff;
    }
